/*

Add styles or override variables from the theme here.

*/

// Docsy turns on Bootstrap's gradient overlay and button shadows; we want flat.
$enable-gradients: false;
$enable-shadows: false;

$primary: #280C53;
$secondary: #802A78;
$dark: #280C53;


.card-primary {
    background-color: $primary !important;
    color: #fff !important;
}

.card-secondary {
  background-color: $secondary !important;
  color: #fff !important;
}

.card-dark {
  background-color: $dark !important;
  color: #fff !important;
}
