{{ $resources := $.Site.Data.resources.resources }}
<div class="filter ml-5">
    <div>
        <h5>Type</h5>
        {{ $types := slice }}
        {{ range $resources }}
            {{- if .type }}
              {{ $types = $types | append .type }}
              {{ $types = uniq $types }}
            {{- end }}
        {{ end }}
        {{ $types = uniq $types }}
        {{ range $_, $type := $types }}
        {{ $types := . }}
        <div>
            <input id="{{ $type }}" type="checkbox" name="resource_filter" value="{{ $type }}">
            <label for="{{ $type }}">{{ $type }}</label>
        </div>
        <div>
            <input id="{{ $type }}" type="checkbox" name="resource_filter" value="{{ $type }}">
            <label for="{{ $type }}">{{ $type }}</label>
        </div>
        {{ end }}
    </div>
    <div class="mt-5">
        <h5>Year</h5>
        {{ $resources := $.Site.Data.resources.resources }}
        {{ $years := slice }}
        {{ range $resources }}
            {{- if .date }}
              {{ $years = $years | append (time.Format "2006" .date) }}
              {{ $years = uniq $years }}
            {{- end }}
        {{ end }}
        {{ range $years }}
        {{ $year := . }}
         <div>
            <input id="{{ . }}" type="checkbox" name="resource_filter" value="{{ . }}">
            <label for="{{ . }}">{{ . }}</label>
        </div>
        {{ end }}
    </div>
</div>