<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage"
    {{- with .Site.Language.LanguageDirection }} dir="{{ . }}" {{- end -}}
    {{ with .Site.Language.Lang }} lang="{{ . }}" {{- end }} {{/**/ -}}
    class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main  px-4">
        <div class="row flex-xl-nowrap">
          <main class="col-12 px-4" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>